/* 
 * https://saruwakakun.com/html-css/reference/css-sample
 * より引用
 */
.btn-circle-flat {
    display: inline-block;
    text-decoration: none;
    background: #87befd;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
}

.btn-circle-flat:hover {
    background: #668ad8;
}